*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    
    height: 3rem;
    position:sticky;
    width: 100%;
    margin-top: 1rem;
    scroll-snap-type: mandatory;
}

#check{
    display:none;
}
.logo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1rem;
    font-size: 18px;
    font-weight: 600;
   text-decoration:underline;
 
  }

  .menus{
    filter: invert(1);
  }

.checkbtn{
    font-size: 20px;
    float: right;
    height: fit-content;
    width: fit-content;
    margin-right: 30px;
    cursor: pointer;
    display:none;
    margin-top: 1rem;
   
}


header{
    text-decoration: none;
    background: #FF926B;
   padding: 1rem;
}


.hero{

font-family:'Raleway-sans', sans-serif;
font-size: 32px;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 700;
text-align: center;
margin: 1rem;
margin-top: 5rem;

}
.container{
    padding: 2rem;
   
}
.slider-wrapper{
  position: relative;
    max-width: 50rem;
    margin: 0 auto;
    
}

.slider{
    display: flex;
    aspect-ratio:16 / 9 ;
    overflow-x: auto;
    scroll-snap-type:  x mandatory;
    scroll-behavior:smooth;
    box-shadow: 0 1.5remm 3rem -0,75rem hsla(0, 0%, 0.25 );
    border-radius: 0.5rem;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 0.5rem;
    min-height: 0.5rem;
    border-radius: 50%;
    background-color:lightgray;
   
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    background-color: #ff926b;
}

.play-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.play{
  background-color: white;
    padding: 1rem;
    border-radius: 50%;
}
.play-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

img{
    width: 100%;
}


.head{ font-family: Raleway, sans-serif;
font-size: 20px;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
width: 90%;
font-weight: 300; }

.Accord{
    font-family: Raleway, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight:900;
    margin-top: 3rem;
}

.wrapper{
    display:flex;
    padding-top: 9px;
    justify-content: center;

}


.facts-question{
    margin-top: 5rem;
}

.collapsible .collapsible1{
    max-width:100%;
    overflow: hidden;
    
}
.collapsible {
    
}
.collapsible  label {
    position:relative;
    background-color: blanchedalmond;
    box-shadow: 0 0 4px;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 17px 0 ;
    width: 100%;
    border-radius: 4px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-indent: 0.4rem;
    padding: 1rem;
}

.collapsible input{
    display: none;
}

 .collapsible label::after{
content:"";
position:absolute ;
right: 9px;

top:20px;
width:28px;
height: 28px;
/* background:url("../img/icons8-plus-25.png"); */
background-repeat: no-repeat;
z-index: 1;
transition: all 0.3s ease;
} 

.collapsible input:checked + label::after{
    transform: rotate(90deg);
}
.collapsible-text{
    max-height: 1px;
    overflow: hidden;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3 ease;
    background-color: aquamarine;
}
.collapsible  input:checked ~ 
.collapsible-text{
   min-height: 300px;
   padding-bottom: 25px;
    background-color: #fff;
    top: 0;
}
.collapsible-head5{
    display: grid;
    grid-template-columns: 20rem;
    font-size: 20px;
}

.collapsible-text  p{
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    background-color:blanchedalmond;
    font-size: 20px;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.hover ,.hover-1{
    right: -9px;
    float: right;
    margin-right: 1rem;
    position: absolute;
}

@media (max-width:900px){
    .checkbtn{
        display: block;
       }
    
       ul{
        position:fixed;
   height: 100vh;
   z-index: 1;
   width: 80%;
   max-width: -300px;
   background-color: rgb(46, 45, 45);
    left: -100%;
    right:-50%;
   top: 0;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: white;
    font-family: 'Epilogue', sans-serif;
    transition: all 0.9s;
    opacity: 2;
       }
       
    
      #closemenu{
       font-size: 40px;
       margin-left: 1rem;
       margin-top: em;
       float: left;
       display: flex;
      }
      .ul-top{
        margin-top: 4rem;
      }

      
      
    
       nav ul li {
           display:block;
           margin: 35px 0px;
           line-height: 1px;
           font-size: 16px;
           color: black;
          
       }   
       nav ul li a{
           font-size:16px;
           text-decoration: none;
           color: black;
           margin-left: 3rem;
           font-size: 20px;
           font-weight: lighter;
           font-family: Raleway, sans-serif;
           line-height: rem;
           font-weight: 700px;
       }
       .clo{
        color: #ff926b;
        margin-left: 3rem;
       }
       .ul-top{
        margin-top: 6rem;
        
       }
    
       .get{
        width: 80%;
        margin: auto;
        background-color: aqua;
        padding: 1rem;
        background: none;
        border-radius: 1rem;
        border: 1px solid white;
       }
       #check:checked ~ ul{
           left: 0;
       }
       #close:checked ~ ul{
            left: 0;
       }
       
    }